{% extends "base.html" %}
<html>
    <head>
        <title>Add Modules</title>
        <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>

    {% block heading %} Create {% endblock %}

    {% block content %}
        <form method = "POST">
            <h1>Solar Module Tracking List</h1>
            Donor: <input type="text" name="donor">
            <br>
            serial number: <input type = "text" name="serialNumber">
            <br>
            Rated Watts: <input type="number" name="ratedWatts" min="0" step="any">
            <br>
            Panel Maufacturer/Model: <input type="text" name="panelManufacturer">
            <br>
            Model: <input type="text" name="model">
            <br>
            weight(kg): <input type="number" name="weight" step="any">
            <br>
            Panel Demension length: <input type="number" name="length" step="any">
            <br>
            Panel Demension width: <input type="number" name="width" step="any">
            <br>
            Panel Demension depth: <input type="number" name="depth" step="any">
            <br>
            vmp: <input type="number" name="vmp" step="any">
            <br>
            imp: <input type="number" name="imp" step="any">
            <br>
            voc: <input type="number" name="voc" step="any">
            <br>
            isc: <input type="number" name="isc" step="any">
            <br>
            Pmp temp coeff %: <input type="number" name="pmpTemp" step="any">
            <br>
            Year of Manufacture: <input type="text" name="year">
            <br>
            location/intended project: <input type="text" name="location">
            <br>

            <hr>
            <h1>QA testing Results</h1>
            Irradiance: <input type="number" name="irradiance" step="any">
            <br>
            Cell temp C: <input type="number" name="cellTempC" step="any">
            <br>
            Measured pmp (watts): <input type="number" name="pmp" step="any">
            <br>

            <hr>
            <h1>Defect Modes</h1>
            Corrosion # of cells: <input type="number" name="corrosion" step="any">
            <br>
            Cell cracks # of cells: <input type="number" name="cracks" step="any">
            <br>
            Eva Browning: <select name="evaBrowning">
                            <option value="None">not tested</option>
                            <option value="low">low</option>
                            <option value="medium">medium</option>
                            <option value="high">high</option>
                            <option value="extreme">extreme</option>
                        </select>
            <br>
            pattern of Browning: <select name="patternBrowning">
                            <option value="None">not tested</option>
                            <option value="center">center</option>
                            <option value="edge">edge</option>
                            <option value="other">other</option>
                            <option value="none">none</option>
                        </select>
            <br>
            Frame damage: <select name="frameDamage">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            Frame seal: <select name="frameSeal">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            Jbox damage: <select name="jBoxDamage">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            Jbox loose: <select name="jBoxLoose">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            nameplate faded/missing: <select name="nameplate">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            backside cracks: <select name="backsideCracks">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            backside Bubbles: <select name="backsideBubbles">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            backside tears/scratches: <select name="backsideTears">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            backside chalking: <select name="backsideChalking">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            Frontside burn mark: <select name="frontsideBurn">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            backside burn mark: <select name="backsideBurn">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            frontside glass-Scratch/chip/crack: <select name="frontsideGlass">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            Delamination: <input type="number" name="delamination" step="any">
            <br>
            Milky discoloration: <input type="number" name="milky" step="any">
            <br>
            Residual Metal: <input type="number" name="residualMetal" step="any">
            <br>
            snail tracks-no Metal resid <input type="number" name="snailTracks" step="any">
            <br>
            snail tracks- Metal resid <input type="number" name="snailTracksRes" step="any">
            <br>
            Future defect 1: <input type="number" name="defectOne" step="any">
            <br>
            Future defect 2: <input type="number" name="defectTwo" step="any">
            <br>
            Future defect 3: <input type="number" name="defectThree" step="any">
            <br>
            Infrared: <select name="infrared">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <br>
            ultraviolet: <select name="ultraviolet">
                <option value="None">not tested</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>

            <hr>
            <h1>Final Disposition</h1>
             disposition: <select name="disposition">
                            <option value="None">not dispositioned</option>
                            <option value="tierOne">tier 1</option>
                            <option value="tierTwo">tier 2</option>
                            <option value="dispose">dispose</option>
                            <option value="recycle">recycle</option>
                        </select>
            <br>
            comments: <textarea name="comments" rows="2" cols="40"></textarea>
            <br>
            countinue batch: <input type ="radio" name="continue" value="yes">Yes
                            <input type="radio" name="continue" value="no">No
            <input type="submit">
        </form>
    {% endblock %}
</html>